/* Fontes */

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

/* [x] Fontes */

/* Variaveis */
:root {
	--calendario-destaque-bg: #ff6600;
	--calendario-destaque-cor: #ffffff;
	--caixa-topo-cor: #ff6600;
	--caixa-topo-bg: #242734;
	--caixa-footer-a-bg: #ff6600;
	--caixa-footer-a-cor: #fff;
}

/* [x] Variaveis */

/* Estilos do Calendário */

.calendario-table{
	width: 100%;
	font-family: 'Inconsolata', arial, sans-serif;
	background-color: #fff;
	border-collapse: collapse;
}

.calendario-table th{
	border: solid 1px #dee2e6;
	border-bottom-width: 2px;
	text-align: center;
	padding: 15px 0;
}

.calendario-table td{
	text-align: center;
	vertical-align: middle;
	padding: 15px 0;
	border: solid 1px #dee2e6;
}

.calendario-prefix, .calendario-sufix{
	background-color: #f1f1f1;
}

.calendario-destaque{
	background-color: var(--calendario-destaque-bg);
	color: var(--calendario-destaque-cor);
	border: solid 1px rgba(0,0,0,.2) !important;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

/* [X] Estilos do Calendário */
/* Estilos das Caixas */

.caixa{
	width: 100%;
	position: relative;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	margin-bottom: 20px;
	overflow: hidden;
}

.caixa>header{
	background-color: var(--caixa-topo-bg);
	border-bottom: 2px solid var(--caixa-topo-cor);
	position: relative;
	overflow: hidden;
}
.caixa>header>h2{
	margin: 0;
	font-family: arial, sans-serif;
	padding: 10px;
	font-size: 24px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.caixa>header>span{
	width: 60px;
	bottom: 0;
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--caixa-topo-cor);
	text-align: center;
}

.caixa>header>span>i{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	margin: auto;
	display: block;
	font-size: 24px;
	color: var(--caixa-topo-bg);
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}

.caixa>section{
	padding: 15px;
}

.caixa>footer{
	padding: 15px;
	background-color: #f3f3f3;
	border-top: 1px solid rgba(0,0,0,.1);
}

.caixa-table{
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
}

.caixa-table td{
	padding: 5px;
	text-align: center;
	border: 1px solid #dee2e6;
	font-family: arial, sans-serif;
}

.caixa-table tr:nth-child(even) { /*Comente todo o bloco para desativar o striped*/
  background-color: #f1f1f1;
}

.caixa-table th{
	font-family: arial, sans-serif;
	font-weight: 600;
	border: solid 1px #dee2e6;
	border-bottom-width: 2px;
	text-align: center;
	padding: 15px 0;
}

.caixa>footer>a{
	display: block;
	text-align: center;
	width: calc(100% - 20px);
	background-color: var(--caixa-footer-a-bg);
	border: 1px solid rgba(0,0,0,.1);
	padding: 10px;
	font-family: arial, sans-serif;
	font-weight: 600;
	color: var(--caixa-footer-a-cor);
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,.1);
	transition: all .2s ease;
}

.caixa>footer>a:hover{
	opacity: .9;
	transition: all .2s ease;
}
/* [X] Estilos das Caixas */